@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="container">
    <div class="row">
        <div class="col-md-2" class="border">

        </div>
        <div class="col-md-10">
            <div class="media">
            <img class="align-self-start mr-3" src="https://ecocosas.com/wp-content/uploads/2018/01/social-advertisement-powerful-ads-11.webp" style="width:28%;" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">“Cuida el papel – Cuida el planeta” 2008, Agencia Saatchi & Saatchi, Dinamarca para WWF</h5>
                <p>Las campañas de World Wildlive Fund o WWF, una ONG con más de 50 años luchando por la protección de la vida y recursos naturales de nuestro planeta; tienen carácter global, aunque también realizan campañas con foco local pero de importancia mundial. En esta hace alusión directa a la deforestación en Sudamérica de manos de las empresas de celulosa, evidenciando el gran papel del consumidor a la hora de ahorrar y de malgastar nuestros recursos naturales.</p>
            </div>
            </div>

            <div class="media">
            <img class="align-self-start mr-3" src="https://ecocosas.com/wp-content/uploads/2018/01/nicolas-hulot-9-11-gr-768x543.webp" style="width:28%;" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">“Para la naturaleza, siempre es 9/11”, 2007, Agencia CLM BBDO, Francia</h5>
                <p>Políticamente incorrecto, algunos lo consideran de mal gusto e inapropiado. Lo cierto es que logra captar la atención y poner sobre el tapete nuestro actuar sobre el planeta. Consigue el propósito mediático y la reacción esperada.</p>
                </div>
            </div>

            <div class="media">
            <img class="align-self-start mr-3" src="https://ecocosas.com/wp-content/uploads/2018/01/gaia-768x621.webp" style="width:28%;" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">“ Tortura al ganso”,2010, Duval Guillaume, Bélgica para GAIA</h5>
                <p>En constante lucha contra el maltrato animal GAIA busca evidenciar en Francia el maltrato al cual son sometidos los gansos para poder extraer el foie. Una campaña elaborada en multiformato donde se expone a “tortura” la imagen de un acto que evidencia aquello que no vemos pero que ocurre en el día a día, invitándonos a reflexionar.</p>
            </div>
            </div>
        </div>
    </div>
</div>

