@model Campaña

@Html.ValidationSummary()
@{
    ViewData["Title"] = "Agregar Campañas";
}
<div class="container">
    <div class="row">
        <div class="col-7" class="border">
            <form asp-action="AgregarCampanas" method="post">
                <div class="form-group">
                    <label>Nombre de la Campaña:</label>
                    <input type="text" asp-for="Nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Informacion sobre la Campaña</label>
                    <textarea class="form-control" asp-for="informacion" rows="3"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                    <label>Distrito a realizarse</label>
                    <select asp-for="distrito" multiple class="form-control" >
                        <option>Lima</option>
                        <option>Miraflores</option>
                        <option>Surco</option>
                        <option>Breña</option>
                        <option>La Molina</option>
                        <option>San Juan de Miraflores</option>
                    </select>
                    </div>
                    <div class="form-group col-4">
                        <label>Cantidad de personas</label>
                        <select  asp-for="CantidadPersonas" multiple class="form-control" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Implementos a llevar</label>
                    <textarea asp-for="implementos" class="form-control"  rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Foto de la Campaña(pegar el url)</label>
                    <input type="text" asp-for="foto" class="form-control" />
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me">Aceptar los terminos de Sostenibilidad Emprendedora
                        </label>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
        <div class="col-3">
           <img src="https://i.ytimg.com/vi/E2vImJa-Qq4/maxresdefault.jpg" style="width:400px;height:420px"/>
        </div>
    </div>
</div>
