<div class="container">
    <div class="row">
        <div class="col-md-8" class="border">
            <form asp-action="AgregarCampanas" method="post">
                <div class="form-group">
                    <label>Nombre de la Campaña:</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Informacion sobre la Campaña</label>
                    <textarea class="form-control"  rows="3"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                    <label>Distrito a realizarse</label>
                    <select multiple class="form-control" >
                        <option>Lima</option>
                        <option>Miraflores</option>
                        <option>Surco</option>
                        <option>Breña</option>
                        <option>La Molina</option>
                        <option>San Juan de Miraflores</option>
                    </select>
                    </div>
                    <div class="form-group col-4">
                        <label>Cantidad de personas</label>
                        <select multiple class="form-control" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Implementos a llevar</label>
                    <textarea class="form-control"  rows="3"></textarea>
                </div>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" >
                    <label class="form-check-label" >Aceptar los terminos de Sostenibilidad Emprendedora</label>
                </div>
                <button type="submit">Registrar</button>
            </form>
        </div>
        <div class="col-md-2" class="border">
            <p>efsf</p>
        </div>
    </div>
</div>
