
<h2>Distrito</h2>
<div class="container">
    <div class="row">
        <div class="col-md-2" class="border">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-secondary">Lima</button>
                <button type="button" class="btn btn-secondary">Miraflores</button>
                <button type="button" class="btn btn-secondary">Surco</button>
                <button type="button" class="btn btn-secondary">Breña</button>
                <button type="button" class="btn btn-secondary">La Molina</button>
                <button type="button" class="btn btn-secondary">San Juan de Miraflores</button>
            </div>
        </div>
        <div class="col-md-8" class="border">
            <div class="card w-90">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="float-right">
                        <img src="http://4.bp.blogspot.com/_pItrP-VD91k/TN7VOeka6iI/AAAAAAAAADI/wTjh4Y_hF8Q/s1600/avatar.jpg /564x564"/>
                    </div>
                    <a href="#" class="btn btn-primary">Button</a>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
            <div class="card w-90">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="float-right">
                        <img src="http://4.bp.blogspot.com/_pItrP-VD91k/TN7VOeka6iI/AAAAAAAAADI/wTjh4Y_hF8Q/s1600/avatar.jpg /564x564"/>
                    </div>
                    <a href="#" class="btn btn-primary">Button</a>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
            <div class="card w-90">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="float-right">
                        <img src="http://4.bp.blogspot.com/_pItrP-VD91k/TN7VOeka6iI/AAAAAAAAADI/wTjh4Y_hF8Q/s1600/avatar.jpg /564x564"/>
                    </div>
                    <a href="#" class="btn btn-primary">Button</a>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="float-right">
                        <img src="http://4.bp.blogspot.com/_pItrP-VD91k/TN7VOeka6iI/AAAAAAAAADI/wTjh4Y_hF8Q/s1600/avatar.jpg /564x564"/>
                    </div>
                    <a href="#" class="btn btn-primary">Button</a>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <div class="col-md-2" class="border">
            <p>efsf</p>
        </div>
    </div>
</div>