@model List<Campa単a> 
<h2>Distrito</h2>
<div class="container">
    <div class="row">
        <div class="col-md-2" class="border">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-secondary">Lima</button>
                <button type="button" class="btn btn-secondary">Miraflores</button>
                <button type="button" class="btn btn-secondary">Surco</button>
                <button type="button" class="btn btn-secondary">Bre単a</button>
                <button type="button" class="btn btn-secondary">La Molina</button>
                <button type="button" class="btn btn-secondary">San Juan de Miraflores</button>
            </div>
        </div>
        <div class="col-md-8">

            @foreach(var c in Model){
            <div class="card w-90  mb-4">
                <div class="card-body">
                    <h5 class="card-title">@c.Nombre</h5>
                    <div class="media">
                        <img class="mr-3" src="@c.foto" style="width:28%"/>
                        <div class="media-body">
                            <p>@c.informacion</p>
                            <a asp-area="" asp-controller="Campa単a" asp-action="RegistroCampana" asp-route-id="@c.Campa単aId" class="btn btn-primary ">Inscribirse</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="col-md-2" class="border">
            <p>efsf</p>
        </div>
    </div>
</div>