
<h2>Distrito</h2>
<div class="container">
    <div class="row">
        <div class="col-md-2" class="border">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-secondary">Lima</button>
                <button type="button" class="btn btn-secondary">Miraflores</button>
                <button type="button" class="btn btn-secondary">Surco</button>
                <button type="button" class="btn btn-secondary">Breña</button>
                <button type="button" class="btn btn-secondary">La Molina</button>
                <button type="button" class="btn btn-secondary">San Juan de Miraflores</button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card w-90  mb-4">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="media">
                        <img class="mr-3" src="http://4.bp.blogspot.com/_pItrP-VD91k/TN7VOeka6iI/AAAAAAAAADI/wTjh4Y_hF8Q/s1600/avatar.jpg " style="width:28%"/>
                        <div class="media-body">
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum
                             in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            <a asp-area="" asp-controller="Campaña" asp-action="RegistroCampana" class="btn btn-primary ">Inscribirse</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-90 mb-4">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="media">
                        <img class="mr-3" src="http://4.bp.blogspot.com/_pItrP-VD91k/TN7VOeka6iI/AAAAAAAAADI/wTjh4Y_hF8Q/s1600/avatar.jpg " style="width:28%"/>
                        <div class="media-body">
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum
                             in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            <a asp-area="" asp-controller="Campaña" asp-action="RegistroCampana" class="btn btn-primary ">Inscribirse</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-90 mb-4">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="media">
                        <img class="mr-3" src="http://4.bp.blogspot.com/_pItrP-VD91k/TN7VOeka6iI/AAAAAAAAADI/wTjh4Y_hF8Q/s1600/avatar.jpg " style="width:28%"/>
                        <div class="media-body">
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum
                             in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            <a asp-area="" asp-controller="Campaña" asp-action="RegistroCampana" class="btn btn-primary ">Inscribirse</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-90 mb-4">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="media">
                        <img class="mr-3" src="http://4.bp.blogspot.com/_pItrP-VD91k/TN7VOeka6iI/AAAAAAAAADI/wTjh4Y_hF8Q/s1600/avatar.jpg " style="width:28%"/>
                        <div class="media-body">
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum
                             in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            <a asp-area="" asp-controller="Campaña" asp-action="RegistroCampana" class="btn btn-primary ">Inscribirse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" class="border">
            <p>efsf</p>
        </div>
    </div>
</div>