<div class="container">
    <div class=row>
        <div class="col-8">
            <h2>Registro satisfactorio</h2>
        </div>
        <div class="col-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block" src="http://img.inforegion.pe.s3.amazonaws.com/wp-content/uploads/2011/06/07jun11-AFICHE-APAGA-TU-MOTOR-2.jpg" style="width:240px;height:500px" alt="First slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block" src="https://verdeseo.files.wordpress.com/2011/06/afiche-5-de-junio-final.jpg" style="width:240px;height:500px" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block" src="https://1.bp.blogspot.com/-Duw5_LlPKxI/V-qyVO7PDiI/AAAAAAAAMRU/mqKz4VdNZ1AnT17rIHPX1o4B9pyTqZDYACLcB/s1600/medio%2Bambiente-01.jpg" style="width:240px;height:500px"alt="Third slide">
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>